.main,
.board,
.ticket-status {
  min-height: 100%;
  height: 100%;
}

.board {
  .ticket-status {
    h3 {
      text-align: center;
    }
  }

  .tickets {
    .empty {
      text-align: center;
    }
  }

  .ticket {
    &.summary {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;

      -khtml-user-drag: element;
      -webkit-user-drag: element;

      $border-opactity: 0.6;
      border-left: 4px solid rgba(130, 130, 130, $border-opactity);
      box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
      cursor: move;
      margin-bottom: 10px;

      &.incident {
        border-left-color: rgba(232, 42, 42, $border-opactity);
      }

      &.problem {
        border-left-color: rgba(245, 202, 0, $border-opactity);
      }

      &.question {
        border-left-color: rgba(89, 187, 224, $border-opactity);
      }

      &.task {
        border-left-color: rgba(120, 163, 0, $border-opactity);
      }

      .assignee {
        margin: 0 10px 10px;

        &,
        img {
          $size: 35px;
          border: 0;
          height: $size;
          width: $size;
        }
      }

      .subject {
        display: block;
        padding: 10px;
      }
    }
  }
}
