.main,
.board,
.ticket-status {
  min-height: 100%;
  height: 100%;
}

.board {
  .ticket-status {
    h3 {
      text-align: center;
    }
  }

  .tickets {
    .empty {
      text-align: center;
    }
  }

  .ticket {
    &.summary {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;

      -khtml-user-drag: element;
      -webkit-user-drag: element;

      box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
      cursor: move;
      margin-bottom: 10px;

      .assignee {
        margin: 0 10px 10px;

        &,
        img {
          $size: 35px;
          border: 0;
          height: $size;
          width: $size;
        }
      }

      .subject {
        display: block;
        padding: 10px;
      }
    }
  }

  .ticket-drop {
    display: none;
    position: absolute;
    z-index: 1000;
  }

  .ticket-placeholder {
    box-shadow: inset -1px -1px 10px 0 rgba(0, 0, 0, 0.2);
    display: none;
    margin-bottom: 10px;
  }
}

.minimap {
  .title {
    margin: 15px 0px 5px 0px;
  }

  .tickets {
    height: 100px;
    margin-bottom: 5px;
  }

  .ticketwrap {
    box-sizing: border-box;
    max-height: 10px;
    width: 80%;

    .ticket {
      background-color: #fff;
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
      height: 200%;
      max-height:20px;
    }

    &.active {
      width: 95%;

      .ticket {
        box-sizing: border-box;
        padding:10px;
        max-height: 25px;
        height: 250%;
      }
    }
  }
}

.ticket {
  $border-opactity: 0.6;
  border-left: 4px solid rgba(130, 130, 130, $border-opactity);

  &.incident {
    border-left-color: rgba(232, 42, 42, $border-opactity);
  }

  &.problem {
    border-left-color: rgba(245, 202, 0, $border-opactity);
  }

  &.question {
    border-left-color: rgba(89, 187, 224, $border-opactity);
  }

  &.task {
    border-left-color: rgba(120, 163, 0, $border-opactity);
  }
}
