.main,
.board,
.ticket-status {
  min-height: 100%;
  height: 100%;
}

.row4 {
  .col {
    width: 23.5%;
  }
}

.row5 {
  .col {
    width: 18.4%;
  }
}

.row6 {
  .col {
    width: 15%;
  }
}

.col {
  float: left;
  margin-left: 2%;

  &:first-child {
    margin-left: 0;
  }
}

.board {
  .ticket-status {
    h3 {
      text-align: center;
    }
  }

  .tickets {
    .empty {
      text-align: center;
    }
  }

  .ticket {
    &.summary {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;

      box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
      margin-bottom: 10px;

      cursor: default;
      background-color: #fff;

      position: relative;
      min-height: 55px;

      &[draggable=true] {
        -khtml-user-drag: element;
        -webkit-user-drag: element;
        cursor: move;
      }

      .assignee {
        margin: 0;
        position: absolute;
        top: 10px;
        right: 10px;

        &,
        img {
          $size: 35px;
          border: 0;
          border-radius: 4px;
          height: $size;
          width: $size;
        }
      }

      .subject {
        display: block;
        padding: 10px 60px 10px 10px;
      }
    }
  }

  .ticket-drop {
    display: none;
    position: absolute;
    z-index: 1000;
  }

  .ticket-placeholder {
    box-shadow: inset -1px -1px 10px 0 rgba(0, 0, 0, 0.2);
    display: none;
    margin-bottom: 10px;
  }
}

.minimap {
  .title {
    margin: 15px 0px 5px 0px;
  }

  .tickets {
    height: 85px;
    margin-bottom: 15px;
  }

  .ticketwrap {
    box-sizing: border-box;
    max-height: 10px;
    width: 80%;

    .miniticket {
      background-color: #fff;
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
      height: 25px;
    }

    &.active {
      width: 80%;
      margin-left: -15%;
    }
  }
}

.ticket, .miniticket {
  $border-opactity: 0.6;
  border-left: 4px solid rgba(130, 130, 130, $border-opactity);

  &.incident {
    border-left-color: rgba(232, 42, 42, $border-opactity);
  }

  &.problem {
    border-left-color: rgba(245, 202, 0, $border-opactity);
  }

  &.question {
    border-left-color: rgba(89, 187, 224, $border-opactity);
  }

  &.task {
    border-left-color: rgba(120, 163, 0, $border-opactity);
  }
}
